//inditex.jfrog.io/artifactory/api/npm/node-public/:_auth="bWFyaWFsc2NyQGV4dC5pbmRpdGV4LmNvbTpjbVZtZEd0dU9qQXhPakUzTWpJMU9EUXhOelU2TVc5RWJXaERUa2xNT0dodWQzUlVTbUpLYVcxRFUwVnJZWGhH" 
always-auth=true
email=marialscr@ext.inditex.com
registry=https://inditex.jfrog.io/artifactory/api/npm/node-public/






 